お客様へ
Cc: {{inviting_name}}様

{{app_name}}へのご招待

{{inviting_name}} 様からあなたへ、アプリ「{{app_name}}」への招待がありました。

アプリ「{{app_name}}」は、個人事業主「仲田明紀」（屋号: Bright Century）が開発したビデオミーティングシステムです。
お客様と {{inviting_name}} 様でのビデオ通話をご利用いただけます。

ご招待Room 名称: {{room_name}}
ご招待Room URL: {{room_url}}

上のURLで、ビデオ通話のアプリ画面を開きます。

どうぞ、ご利用ください。

{{ date }}
{{app_name}}
Bright Century 仲田明紀 <info@bright-century.com>


