{{app_name}} システム管理者 様

{{app_name}} へのユーザーのメールによる招待が行われました。

招待者 氏名: {{inviting_name}}
招待先メールアドレス: {{mail_to}}
招待Room 名称: {{room_name}}
招待Room hash: {{room_hash}}
招待Room URL: {{room_url}}

{{ date }}
{{app_name}}
Bright Century 仲田明紀 <info@bright-century.com>


